@font-face {
    font-family: "Black";
    src: url("/Roboto-Black.ttf");
}

@font-face {
    font-family: "Regular";
    src: url("/Roboto-Regular.ttf");
}

*, *::after, *::before {
    font-family: "Regular";
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
    border-radius: 0%;
    letter-spacing: 1px;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    cursor: default;
}

::selection {
    background-color: #dcdcdc;
    color: #4c4c4c;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color: black;
}

a {
    color: unset;
    text-decoration: none;
}

a:visited {
    color: unset;
}

.row {
    display: flex;
    align-items: center;
}

.heading {
    font-family: "Black";
    font-size: 40px;
    font-weight: 600;
    margin: 5px 0;
}

.description {
    font-size: 20px;
    line-height: 35px;
    padding: 0 10px;
}