@font-face {
    font-family: "Black";
    src: url("/Roboto-Black.ttf");
}

@font-face {
    font-family: "Regular";
    src: url("/Roboto-Regular.ttf");
}

*, *::after, *::before {
    font-family: "Regular";
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
    border-radius: 0%;
    letter-spacing: 1px;
    word-break: break-word;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    cursor: default;
    line-height: 40px;
    -webkit-user-drag: none;
}

::selection {
    background-color: #dcdcdc;
    color: #4c4c4c;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
}

a {
    color: unset;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

a:visited {
    color: unset;
}

.author {
    background-image: url("https://avatars.githubusercontent.com/u/80583308");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
}

.author::after {
    display: block;
    content: "Sijey Praveen";
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 110px;
    text-align: center;
    white-space: pre;
    right: -120px;
    top: -5px;
}

.row {
    display: flex;
    align-items: center;
}

.heading {
    font-family: "Black";
    font-size: 40px;
    font-weight: 600;
    margin: 5px 0;
    text-decoration: none;
}

.sub_heading {
    font-family: "Black";
    font-size: 28px;
    margin: 8px 0;
}

.description {
    font-size: 20px;
    padding: 0 10px;
    white-space: pre-line;
    max-width: 600px;
}

.inline-code {
    color: #757575;
    background-color: #eaeaea;
    padding: 3.5px;
    display: inline;
}