@font-face {
    font-family: "Trispace";
    src: url("assets/Trispace.ttf");
}

* {
    font-family: "Trispace";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

::selection, ::-moz-selection { 
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

:root {
    --bg-clr: #06283D;
    --txt-clr: #f5f5f5;
    --tomato-clr: #E94560;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-clr);
    color: var(--txt-clr);
}

h1 {
    font-size: 56px;
    margin: 5px 0 30px 0;
}

h3 {
    color: #cccccc;
}

h3::after {
    display: inline-block;
    content: "";
    width: 40%;
    height: 1px;
    background-color: var(--tomato-clr);
    margin-left: 5px;
    border-radius: 50vmax;
}

p {
    color: #b3b3b3;
    font-size: 16px;
    line-height: 30px;
    animation: up 1s ease;
}

a, a:visited {
    font-weight: 500;
    color: unset;
    cursor: pointer;
    text-decoration: underline;
}

section {
    width: 100vw;
    max-width: 800px;
    min-width: 300px;
    padding: 64px 15px 15px 15px;
}

@keyframes hl {
    to {
        background-position: 400% 0;
    }
}

@keyframes up {
    0% {
        transform: translateY(30%);
        opacity: 0.1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
